body {
  font-family: "Britannic", sans-serif;
}

.centro {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -200%);
  font-size: 3.5vw;
}

.centro2 {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -60%);
  font-size: 5vw;
}

.riga {
  width: 38vw; height: 3px;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 0 10px #000;
}

/* Tiny reset thingy */
body,html{margin:0;padding:0;}

.wrapper {
  /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
  height: 100vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
}

.bg1 {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container/WINDOW. Must be set, but it doesn't really matter what the value is. */
  height: 60vw;

  /* For text formatting. */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 10px #000;
}

.static {
  background: black;
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 60vh;

  /* For text formatting. */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}


.bg2 {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 60vw;

  /* For text formatting. */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}

.bg3 {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 60vw;

  /* For text formatting. */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}

.bg4 {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 60vw;

  /* For text formatting. */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}




.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(1.52);
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */
  z-index: -1;
}


/* Sets the actual background images to adorable kitties. This part is crucial. */
.bg1::after {
  background-image: url(DSC_0015.jpg);
}

.bg2::after {
  background-image: url(DSC_0152.jpg);
}

.bg3::after {
  background-image: url(DSC_0167_2.jpg);
}

.bg4::after {
  background-image: url(gruppo.jpg);
}

#container {
  right: 0%; top: 0%;
  position: absolute;
  width: 100vw; height: 10vh;
}

ul#menu li {
  position: relative;
  top: 0%; right: 0%;
  transform: translate(0%,0%);
  display: inline;
  color: white;
  font-size: 1.8vw;
  float: right;
  margin-top: 0.5vh;
  margin-right: 1vw;
}

li a {
  margin: 0.7vw;
  color: white;
  text-decoration: none;
}
li a:visited {
  color: white;
  text-decoration: none;
}

ul li a:hover, ul li a:focus {
 color:white;
 transition: 0.2s;
}

li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}




.titolo {
  font-size: 3vw;
}

.titolocontacts {
  font-size: 3vw;
  transform: translate(0%, -150%);
}


.boxinfluences {
  background-color: rgba(44, 44, 44, 0.6);
  position: absolute;
  width: 100vw; height: 50vh;
}
.pinfluences{
  text-align: left;
  font-size: 1.5vw;
  font-family: "Candara", sans-serif;
  font-weight: normal;
  width: 70vw; height: 60vh;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 70px;
}

.boxbass {
  background-color: rgba(44, 44, 44, 0.6);
  position: absolute;
  width: 100vw; height: 35vh;
}
.pbass{
  text-align: left;
  font-size: 1.5vw;
  font-family: "Candara", sans-serif;
  font-weight: normal;
  width: 70vw; height: 60vh;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 150px;
  }
p a:hover {
  color: white;
  text-decoration: none;
}
p a:visited {
  color: white;
  text-decoration: none;
}

.boxband {
  background-color: rgba(44, 44, 44, 0.6);
  position: absolute;
  width: 100vw; height: 40vh;
}
.pband{
  text-align: left;
  font-size: 1.5vw;
  font-family: "Candara", sans-serif;
  font-weight: normal;
  width: 70vw; height: 60vh;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 130px;
}

.icon {
  position: absolute;
  width: 7vw; height: 7vw;
  top: 65%;
  transform: translate(-50%, -50%);
}

#fb {
  left: 35%;
  background-image: url(whitefb.png);
  background-size: contain;
}

#ig {
  left: 50%;
  background-image: url(whiteig.png);
  background-size: contain;
}

#gm {
  left: 65%;
  background-image: url(gmail.png);
  background-size: cover;
}
